.main-page {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;

  &.is-phone {
    .header {
      .book {
        height: 80rem;
      }
    }
    .description {
      margin-top: 18rem;
    }
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.header-img {
  height: 16rem;
}

.header-img.book {
  height: 56rem;
  cursor: pointer;
}

.description {
  color: white;
  font-size: 4rem;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 600px) {
  .description {
    font-size: 30px;
  }
}